.layout {
  &_container {
    display: flex;
    justify-content: right;
  }
  &_main {
    min-width: 93vw;
    display: flex;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: auto;
  }
}
