.sidebar {
  &_container {
    padding: 1.5rem 1rem 1.5rem 0;
    display: flex;
    width: 10vw;
    position: relative;
    flex-direction: column;
    gap: 1.5rem;
    height: 100vh;
    background: blue;
    &_item {
      display: flex;
      flex-direction: column;
      padding: 0.2rem 1rem;
      align-items: center;
      &:hover {
        background-color: red;
        width: 100%;
      }
    }
  }
  &_logo {
    margin-right: auto;
    flex-grow: 1;
  }
  &_hameburger-Toggle {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 0 1.2rem 0 1.4rem;
  }
}
.sidebar_nonVisible {
  display: none;
}
.toggle {
  min-width: 25vw;
  position: absolute;
  left: 0%;
}
.itemRow {
  flex-direction: row !important;
  justify-content: flex-start;
  align-items: center !important;
  gap: 1.5rem;
  height: 39px;
  padding: 0 0.7rem 0 1.5rem;
}
