.sidebar {
  &_container {
    display: flex;
    width: 10vw;
    padding: 1.5rem 0;
    position: relative;
    flex-direction: column;
    gap: 1.5rem;
    height: 100vh;
    background: rgb(27, 27, 27);
    &_item {
      color: white;
      display: flex;
      flex-direction: column;
      padding: 0.2rem 1rem;
      align-items: center;
    }
    .hover {
      padding: 1.5rem 1rem 1.5rem 0;
      &:hover {
        background-color: gray;
        padding-right: 1rem;
        width: 100%;
      }
    }
  }
  &_logo {
    margin-right: auto;
    display: none;
    flex-grow: 1;
  }
  &_hameburger-Toggle {
    justify-content: center;
    display: flex;
    gap: 1.5rem;
    padding: 0 1.2rem 0 1.4rem;
  }
}
